body {
    margin: 8px;
    background-color: rgb(245, 202, 186);
    scroll-behavior: smooth;
}
h1 {
    text-align: center;
}

h2 {
    text-align: center;
    margin-bottom: 15px;
}

img {
    width: 80%;
    height: 80%;
}

.section-sobreMi, 
.section-actividad,
.section-tecnologias {
    background-color: rgb(245, 189, 168);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

.art-SM {
    width: 90%;
    margin: auto;
    padding: 1em;
    text-align: justify;
}

.art-logotec {
    display: flex;
    justify-content: space-around;
}

.div-logo { 
    padding: 1em;
    display: flex;
    margin: 15px 10px;
    width: 250px;
    height: auto;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    border-width: 1px;
    border-radius: 35px;
    border:  1px solid rgb(107, 45, 38);
}

.div-logo:hover {
    box-shadow: 2px 4px 10px 4px rgb(226, 155, 155);
    color: rgb(66, 172, 80);
    background-color: whitesmoke;
    transform: scale(1.05);
    transition: 0.5s;
    font-size: large;
}

.form-pseudoclases {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

.form-pseudoclases input[type="text"],
.form-pseudoclases textarea{
    background-color: rgb(228, 163, 163);
    border-color: brown;
    margin: 5px;
    padding: 5px;
    border-width: 1px;
    border-radius: 5px;
    font-size: 20px;
    width: 80%;
    height: 80%;
   }

   .button-submit {
    background-color: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 160px;
    font: bold15px arial,sans-serif;
    text-shadow: none;
    justify-content: center;
   }
   
